extends auth_layout

block content
	div(class="ui text container")
		h2(class="ui header") Classes
		div(class="ui three item menu" style="margin-bottom: 45px")
			a(class="item" href="/teachers") Starting Line
			a(class="active item" href="#") Classes
			a(class="item" href="/resources") Resources

		div(class="ui relaxed divided list")
			div(class="item") French I
			div(class="item") French II
			
		div(class="ui primary submit button" style="margin-top: 30px") Add Class
		

