extends layout

block content
	div(class="ui two column centered grid")
		div(class="column")
			h1 Running Dictator
		div(class="four column centered row")
			div(class="column")
				p Teacher
			div(class="column")
				p Student