extends layout

block content
	div(class="ui two column centered grid")
		div(class="column")
			h1 Running Dictator
		div(class="four column centered row")
			div(class="column")
				img(src="/images/running_main.png")
			div(class="column")
				p 
					a(href="/login") Teacher
				p 
					a(href="/students") Student

				
