doctype html
html
	head
		title= title
		link(rel='shortcut icon', href='/favicon.ico?v=2' type='image/x-icon')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/semantic/semantic.min.css')
		script(src="https://cdn.auth0.com/js/lock/10.6/lock.min.js")
	body
		div(style="padding-top: 20px")
			block content
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="/semantic/semantic.js")