extends auth_layout

block content
	div(class="ui text container")
		h2(class="ui header") Storyboard
		div(class="ui three item menu" style="margin-bottom: 45px")
			a(class="item" href="#") Student Code
			a(class="item" href="#") Slide Show
			a(class="item" href="#") Print

		div(class="ui grid")
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Bacon ipsum dolor amet bresaola doner spare ribs
					div(class="extra content" style="text-align:center") A
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Doner pork chop pork belly pork loin sirloin porchetta tail jerky.
					div(class="extra content" style="text-align:center") B
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Meatloaf boudin hamburger pancetta, fatback salami pork loin sirloin beef chicken bresaola short ribs
					div(class="extra content" style="text-align:center") C
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") T-bone pig spare ribs tail
					div(class="extra content" style="text-align:center") D
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Short ribs pig meatloaf tongue sirloin
					div(class="extra content" style="text-align:center") E
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Pork chop shoulder jowl, corned beef swine bresaola prosciutto
					div(class="extra content" style="text-align:center") F
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Pig brisket salami, jerky chicken tongue bacon
					div(class="extra content" style="text-align:center") G
			div(class="four wide column")
				div(class="ui raised card") 
					div(class="content") Andouille t-bone brisket burgdoggen
					div(class="extra content" style="text-align:center") H
		

