extends layout

block content
	div(class="ui three column centered grid")
		div(class="four column centered row")
			h1 Teachers Starting Line
		div(class="four column centered row")
			a(href='/logout') Logout